<h1>hi </h1>


<form action="/payment/results">
  <label for="jaguar">APR </label>
  <input id="jaguar" type="text" placeholder="E.g 5.42" name="user_apr" >

  <label for="rhino"> Number of years </label>
  <input id="rhino" type="text" placeholder="How many years to repay?" name ="user_years" >

  <label for="hippo"> Principal </label>
  <input id="hippo" type="text" placeholder="How much principal?" name ="user_pv" >


  <button>Calculate monthly payment</button>

</form>
