<h1>hi </h1>


<form action="/random/results">
  <label for="tiger">Minimum </label>
  <input id="tiger" type="text" placeholder="E.g 1.45" name="user_min" >

  <label for="leopard"> Maximum </label>
  <input id="leopard" type="text" placeholder="E.g 3.9" name ="user_max" >


  <button>Pick random number</button>


</form>
