<h1> howdy! </h1>

<form action="/square_root/results">
  <label for="cheetah">Enter a number </label>
  <input id="cheetah" type="text" placeholder="What number do you want to square?" name ="user_number">

  <button>Calculate square root</button>


</form>
